@import "mediaqueries";
@import "variables";

.App {
  text-align: center;
  background-color: $background-grey;
  min-height: 100vh;
}

.AppContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MiddleContainer {
  max-width: 1100px;
}

.partnersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include media(s-device) {
    grid-template-columns: 1fr;
  }
}
