@import "/src/styles/variables";

.filterCard {
  position: relative;
  box-shadow: rgb(0 0 0 / 10%) 0 0 20px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.categoryPill {
  border: 1px solid;
  font-weight: normal;
  min-height: 20px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  min-width: 100px;
  cursor: pointer;
}

.categoryPillSelected {
  background-color: $primary;
  color: $white;
}
